.carousel-item img {
    width: auto !important;
    height: 500px;
    max-height: 500px;
    margin: auto !important;
}

.carousel {
    background-color: rgb(33, 33, 36);
    width: 100%;
    height: 600px !important;
}

.carousel-inner {
    background-color: rgb(33, 33, 36);
    width: 100%;
    height: 500px !important;
    top: 40px;
}

.login{
    width: 205px !important;
}

#login-form{
    margin: 2%;
}

#flash-message{
    color: red !important;
}

#map {
    height: 400px;
    width: 400px;
    margin: 2%;
}

#map.trip-details {
    height: 300px;
    width: 300px;
    margin: 2%;
}


#favorite-site{
    margin: 2%;
}

#schedule-trip{
    margin: 2%;
}

.headline{
    margin: auto;
    margin-top: 20%;
    text-align: center;
    z-index: 1;
}

#forecast_embed{
    width: 650px;
}

body{
    background: #8e9eab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.navbar.navbar-expand-lg.navbar-dark.bg-dark{
    background-color: #212124 !important;
}

#profile-photo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 18%;
}

#comment-img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

#map.sites-page{
    margin-left: 37%;
}

.sites{
    position: relative;
    float: left;
    width:  300px;
    height: 200px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

.trip-details-img{
    width: 650px;
}

.logo-img{
    width: 150px;
}

.logo-home{
    width: 500px;
}

.form-center{
    display: block !important;
    margin-top: 6%;
}

.btn-outline-success {
    color: white;
    background-color: #28a745;
    background-image: none;
    border-color: #28a745;
}

.btn-outline-success:hover {
    color: #28a745;
    background-color: transparent;
    background-image: none;
    border-color: #28a745;
}
.index-body{
    background-image: url("../images/golden-gate3.2.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}

