.carousel-item img {
    width: auto !important;
    height: 500px;
    max-height: 500px;
    margin: auto !important;
}

.carousel {
    width: 800px !important;
    height: 500px !important;
}

.carousel-inner {
    width: 800px !important;
    height: 500px !important;
}

.login{
    width: 205px !important;
}

#login-form{
    margin: 2%;
}

#flash-message{
    color: red !important;
}

#map {
    height: 400px;
    width: 400px;
    margin: 2%;
}

#favorite-site{
    margin: 2%;
}

#schedule-trip{
    margin: 2%;
}

.headline{
    margin: auto;
    margin-top: 20%;
    text-align: center;
    z-index: 1;
}

/*#background{
    width: 100%;
    height: auto;
    z-index: 0;
}*/


