.carousel-item img {
    width: auto !important;
    height: 350px;
    max-height: 350px;
    margin: auto !important;
}

.carousel {
    width: 600px !important;
    height: 350px !important;
}

.carousel-inner {
    width: 600px !important;
    height: 350px !important;
}

.login{
    width: 205px !important;
}

#login-form{
    margin: 2%;
}

#flash-message{
    color: red !important;
}

