{% extends 'base.html' %}
{% block content %}
<!-- <img src="../static/twin_peaks.jpg" id="background"> -->
<div class="page">
    <div class="container">
        <div class="col-lg-6 col-lg-offset-4 headline">
            <h2>
                NearSited 
            </h2>
            <h4>
                Photograph places you love. 
            </h4>
        </div>
    </div>
</div>




{% if favorites %}
<div>
    <h4>Your Favorite Sites</h4>
    <ul>
    {% for favorite in favorites %}
        <li>
            <a href="/sites/{{favorite.site_id}}">{{favorite.name}}</a>
        </li>
    {% endfor %}
    </ul>    

</div>

{% endif %}

{% if trips %}
<div>
    <h4>Your Upcoming Trips</h4>
    <ul>
    {% for trip in trips %}
        <li>
            {{trip[0].date.strftime("%A, %B %d")}} <a href="/trip-details/{{trip[0].trip_id}}">{{trip[1].name}}</a>
        </li>
    {% endfor %}
    </ul>    

</div>

{% endif %}

{% endblock %}