{% extends 'base.html' %}
{% block content %}

<form id="login-form" action="/register" method="POST">
  <div class="form-group">
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input type="firstName" class="form-control login" id="firstName" name="firstName">
  </div>
  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input type="lastName" class="form-control login" id="lastName" name="lastName">
  </div>
  <div class="form-group">
    <label for="phoneNumber">Phone Number</label>
    <input type="phoneNumber" class="form-control login" id="phoneNumber" name="phoneNumber">
  </div>
  </div>
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control login" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control login" id="exampleInputPassword1" name="password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}