{% extends 'base.html' %}
{% block content %}

<div id="map" class="sites-page"></div>
    <script>

      function initMap() {

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: {lat: {{places[0][0]['geometry']['location']['lat']}}, lng: {{places[0][0]['geometry']['location']['lng']}}}
        });

        // Create an array of alphabetical characters used to label the markers.
        var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

        // Add some markers to the map.
        // Note: The code uses the JavaScript Array.prototype.map() method to
        // create an array of markers based on a given "locations" array.
        // The map() method here has nothing to do with the Google Maps API.
        var markers = locations.map(function(location, i) {
          return new google.maps.Marker({
            position: location,
            label: labels[i % labels.length]
          });
        });

        // Add a marker clusterer to manage the markers.
        var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
      }
      var locations = [
        {% for place in places %}
        {lat: {{place[0]['geometry']['location']['lat']}}, lng: {{place[0]['geometry']['location']['lng']}}}
          {% if loop.index != -1%},{% endif %}
        {% endfor %}
      ]

    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&callback=initMap">
    </script>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
        </tr>
      </thead>
      <tbody>
      {% for place in places %}
        <tr>
          <th scope="row">{{loop.index}}</th>    
            <td>
                <img class="sites" src="{{place[1]}}">
            </td>
          <td>
              <a href="/sites/{{place[0]['place_id']}}">{{place[0]['name']}}</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

{% endblock %}